/Laravel/vendor/
/Laravelnode_modules/
/Laravelnpm-debug.log
/Laravelyarn-error.log

# Laravel 4 specific
/Laravelbootstrap/compiled.php
/Laravelapp/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/Laravelstorage/*.key
/Laravel/.env
Homestead.yaml
Homestead.json
/.vagrant
/uploads/
